body {
	background-color:#212529;
	color:#fff;
	font-family:arial,helvetica,sans-serif;
	text-align:center;
}

h1 {
	font-size:30px;
	font-weight:bold;
}

p {
	font-size:18px;
}

a {
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a:visited {
	color:#fff;
}
