body, html {
	background-color:#22272B; /*210° 21% 17%**/
	color:#fff;
	font-family:sans-serif;
	text-align:center;
	width:100%;
	height:100%;
	padding:0;
	margin:auto;
	overflow:auto;
}
h1,p,.logo {
	margin-top:25px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:0;
}
h1 {
	font-size:30px;
	font-weight:bold;
}
p {
	font-size:15px;
}
a {
	font-weight:bold;
	text-decoration:none;
	color:#fff;
}
a:hover {
	text-decoration:underline;
}
a.link {
	display:inline-block;
	background-color:#ddd;
	color:#0D0F11; /*210° 21% 7%*/
	padding:12px 18px;
	border-radius:50px;
	margin-top:12px;
	text-decoration:none;
	min-width:270px;
	font-size:14px;
}
a.link:hover {
	background-color:#fff;
}
img.logo {
	border-radius:50%;
	width:120px;
	height:120px;
}
#impressum > * {
	font-size:12px;
	margin:auto;
	margin-top:25px;
	margin-bottom:25px;
	max-width:1000px;
}
#impressum h1 {
	font-size:20px;
}
#impressum h2 {
	font-size:18px;
}
#footer {
	position:absolute;
	bottom:25px;
	left:0;
	right:0;
	font-size:8px;
	font-weight:normal;
	color:#515C66 !important; /*210° 21% 40%*/
}